<link rel="stylesheet" href="/stylesheets/home.css">

<div class="app-background">
    <div class="app-profile-header">
        {{#if isSearchResults}}
            <div class="app-clear-again-container">
                <a href="/home">Clear Search Results</a>
                <a href="/search">Search Again</a>
            </div>
            <div>Search Results</div>
        {{else}}
            <div>Highlighted Users</div>
        {{/if}}
    </div>
    {{#if isSearchResults}}
        {{#if error}}
        <div class="notification is-warning">
        {{error}}
        </div>
        {{/if}}
    {{/if}}

    {{#each data}}
    
    <div class="profile-container">
        <img class="app-avatar" src="{{github_avatar_url}}">
        {{#if name}}
        <div class="profile-info">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div data-display>{{name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if city}}
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Location</label>
                </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div data-display>{{city}}, {{state}}</div>
                                <input class="input is-hidden is-expanded" type="text" value="{{city}}" data-display></label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select is-hidden" data-display>
                                    <select name="state">
                                        <option>State</option>
                                        <option value="AL">AL</option>
                                        <option value="AK">AK</option>
                                        <option value="AS">AS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-hidden" type="text" value="{{zip}}" placeholder="Zip..." data-display></label>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if employer}}
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Employer</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div data-display>{{employer}}</div>
                                <input class="input is-hidden" type="text" value="{{employer}}" data-display></label>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">GitHub Alias</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div data-display>{{alias}}</div>
                                <input class="input is-hidden" type="text" value="{{alias}}" data-display></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Member since</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div>{{join_date}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/profile/{{user_id}}">
                    <button class="app-button">
                        See more
                    </button>
                </a>
        </div>
    </div>

    {{/each}}
    {{#unless isSearchResults}}
    <div class="app-profile-footer">
        <form action="/home" method="post">
        <input class="app-button-2" type="submit" class="add-profiles" value="More Users">
        </form>
    </div>
    {{/unless}}
</div>

{{#if isSearchResults}}
<div class="sidebutton">
        <button type="button" class="button load inline"><i class="fas fa-sync"></i></button>
        <a href="#top-of-page"><button type="button" value="Top" class="button inline"><i class="fas fa-angle-up"></i></button></a>
</div>
{{/if}}

<script src="/js/home.js"></script> 
