<form method="POST" action="/newprofile">
alias:&nbsp;<input type="text" name="alias" value="{{alias}}">
<br>
<br>
githubid&nbsp;<input type="text" name="githubid" value="{{gitHubId}}">
<br>
<br>
githubav&nbsp;<input type="text" name="githubav" value="{{gitHubAv}}">
<br>
<br>
name&nbsp;<input type="text" name="name" value="{{name}}">
<br>
<br>
gitURL&nbsp;<input type="text" name="gitURL" value="{{gitURL}}">
<br>
<br>
employer&nbsp;<input type="text" name="employer">
<br>
<br>
city&nbsp;<input type="text" name="city" value="{{city}}">
<br>
<br>
state&nbsp;<input type="text" name="state" value="{{state}}">
<br>
<br>
zip&nbsp;<input type="number" name="zip_code">
<br>
<br>
<select name="tabs">
    <option value="1">Tabs</option>
    <option value="2">Spaces</option>
</select>
<br>
<select name="curly_braces">
    <option value="1">Same Line</option>
    <option value="2">Next Line</option>
</select>
<br>
<select name="quotes">
    <option value="1">Single Quotes</option>
    <option value="2">Double Quotes</option>
</select>
bio&nbsp;<input type="text" name="bio" value="{{bio}}">
<input type="submit">
</form>