<link rel="stylesheet" href="/stylesheets/makeprofile.css">


<div class="block">
<form method="POST" action="/newprofile">

    <img src="{{gitHubAv}}" alt="GitHub Avatar" class="github-avatar is-pulled-right">


        <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" value="{{name}}"></label>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">GitHub Alias</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div>{{alias}}</div>
                </div>
            </div>
        </div>
    </div>
<br>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">GitHub URL</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <a href="{{gitURL}}" name="gitURL">{{gitURL}}</a>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Employer</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="employer" placeholder="Enter Company Name"></label>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Location</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input is-expanded" type="text" name="city" value="{{city}}" placeholder="Enter City"></label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="select">
                        <div>   
                            <select name="state">
                                {{#each state}}
                                <option value="{{name}}">
                                    {{name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="zip_code" value="zip" placeholder="Enter Zip Code"></label>
                </div>
            </div>
        </div>
    </div>


<br>
<br>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Bio</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" type="text" name="bio">{{bio}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Tabs or Spaces?</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{#each tabsPref}}
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="tabs_preference" value="{{preference_id}}">
                            {{description}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <br>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Brackets: same line or next?</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{#each curlies}}
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="same_line_curlies_preference" value="{{preference_id}}">
                            {{description}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
    <div class="field-label">
        <label class="label">Quotes: single or double?</label>
    </div>
    <div class="field-body">
        <div class="field">
            {{#each quotes}}
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="single_quotes_preference" value="{{preference_id}}">
                        {{description}}
                    </label>
                </div>
            {{/each}}
        </div>
    </div>
    </div>
    <br>
        <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Preferred languages</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{#each language}}
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="language_{{lang_id}}">
                            {{name}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Preferred text editor</label>
        </div>
        <div class="field-body">
            <div class="field">
                {{#each editors}}
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="editor_{{editor_id}}">
                            {{name}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
<br>

<input type="submit">
</form>
</div>

{{!-- <div class="block">
    <form action="/profile" method="POST">

    {{!-- <input type="hidden" name="user_id" value="{{data.user_id}}"> --}}