<h1><strong>This is the logged in messages thinger.</strong></h1>

{{!-- <div class="is-hidden" data-display> --}}
<div data-display class='is-hidden'>
    <div>Outbox</div>

    {{#each messages.sent}}
        <div>
            @ {{this.date_time}}, {{this.sender_alias}} said
        </div>
        <div>
            {{this.message_text}}
        </div>
    {{/each}}
</div>

<div data-display>
    <div>Inbox</div>
    {{#each messages.received}}
        <div>
            @ {{this.date_time}}, {{this.sender_alias}} said
        </div>
        <div>
            {{this.message_text}}
        </div>
    {{/each}}
</div>