<div class="block">
    <form action="/profile" method="POST">

    <input type="hidden" name="user_id" value="{{data.user_id}}">

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div data-display>{{data.name}}</div>
                    <input class="input is-hidden" type="text" value="{{data.name}}" data-display></label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Employer</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div data-display>{{data.employer}}</div>
                    <input class="input is-hidden" type="text" value="{{data.employer}}" data-display></label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Location</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div data-display>{{data.city}}, {{data.state}}</div>
                    <input class="input is-hidden is-expanded" type="text" value="{{data.city}}" data-display></label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="select is-hidden" data-display>
                        <select name="state">
                            <option>State</option>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AS">AS</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-hidden" type="text" value="{{data.zip}}" placeholder="Zip..." data-display></label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Bio</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div data-display>{{data.bio}}</div>
                    <textarea class="textarea is-hidden" placeholder="Bio..." data-display>{{data.bio}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">GitHub Alias</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div data-display>{{data.alias}}</div>
                    <input class="input is-hidden" type="text" value="{{data.alias}}" data-display></label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">GitHub URL</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <a href="{{data.github_url}}">{{data.github_url}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Tabs or Spaces?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="tabs_preference" value="1">
                        Tabs
                    </label>
                </div>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="tabs_preference" value="2">
                        Spaces
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Brackets: same line or next?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="same_line_curlies_preference" value="1">
                        Same line
                    </label>
                </div>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="same_line_curlies_preference" value="2">
                        Next line
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Quotes: single or double?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="single_quotes_preference" value="1">
                        Single
                    </label>
                </div>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="single_quotes_preference" value="2">
                        Double
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Preferred languages</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="languages" value="1">
                        Java
                    </label>
                </div>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="languages" value="2">
                        JavaScript
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Preferred text editor</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="editors" value="1">
                        VS Code
                    </label>
                </div>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="editors" value="2">
                        Atom
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Member since</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div>{{data.join_date}}</div>
                </div>
            </div>
        </div>
    </div>
        {{#if isProfile}}
            <div class="field">
                <div class="control">
                    <input type="button" value="Edit Profile" class="button is-primary" data-edit-button>
                    <input type="submit" value="Save Profile" class="button is-primary is-hidden" data-save-button>
                    <input type="button" value="Cancel" class="button is-primary is-hidden" data-cancel-button>
                    
                </div>
            </div>
        {{/if}}
    </form>
</div>
<script src="/js/profile.js"></script>
